<!DOCTYPE html>
<!--Para poder manejar informacion dinamica con thymeleaf-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <header th:replace="layout/plantilla :: header"/>
        
        <br/>
        <a th:href="@{/agregar}">[[#{persona.crear}]]</a>
        <div th:if="${personas != null and !personas.empty}">
            <table border="1">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                <tr th:each="persona : ${personas}">
                    <td th:text="${persona.nombre}"/>
                    <td th:text="${persona.apellido}"/>
                    <td th:text="${persona.email}"/>
                    <td th:text="${persona.telefono}"/>
                    <td> <a th:href="@{/editar/} + ${persona.idPersona}" th:text="Editar"/> </td> <!-- Pasamos parametro como Path Variable -->
                    <!--td> <a th:href="@{/eliminar/} + ${persona.idPersona}" th:text="Eliminar"/> </td-->
                    <td> <a th:href="@{/eliminar(idPersona=${persona.idPersona})}" th:text="Eliminar"/> </td> <!-- Uso del Query Parameter-->
                </tr>
            </table>
        </div>
        <div th:if="${personas == null or personas.empty}">
            Lista de personas vacia
        </div>
        
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
